.fixed-header {
  display: flex;
  align-items: center;
  flex-direction: column;

  .header-title {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
  }
}

.navbar-nav > a {
  padding-left: 30px;
  padding-right: 30px;
}
