.fixed-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eee0cf;

  .header-title {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
  }
}

.navbar-nav > a {
  color: #c9b7a4;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;

  &:hover {
    color: #a38464;
  }
}
