@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lora&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.base-styles {
  font-family: 'Lora', serif;
  background-color: #e8edf1;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
}

.lora {
  font-family: 'Lora', serif;
}

.heading-text {
  @apply text-4xl sm:text-5xl font-bold text-center;
  font-family: 'Dancing Script', cursive;
}
